<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<modules runAllManagedModulesForAllRequests="false">
				<remove name="WebDAVModule" />
			</modules>
			<security>
				<requestFiltering removeServerHeader="true">
					<requestLimits maxAllowedContentLength="536870912" maxQueryString="8156" />
				</requestFiltering>
			</security>
			<httpProtocol>
				<customHeaders>
					<remove name="X-Powered-By" />
					<remove name="X-Powered-By-Plesk" />
				</customHeaders>
			</httpProtocol>
			<aspNetCore processPath="dotnet">
				<environmentVariables>
					<environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
				</environmentVariables>
			</aspNetCore>
		</system.webServer>
	</location>
</configuration>